
html,body{
background-color: #ffbc40;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

.container{ margin-top: 6%;
height: 100%;
align-content: center;
width: fit-content;
}

h1{font-family: 'Times New Roman', Times, serif;
color: whitesmoke;
font-weight: bolder;
text-align: center;
}